@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.zoominFade {
  animation: zoominFade 0.5s ease-in-out;
}

@keyframes zoominFade {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}